# Estructura de bases de datos.

## Fania Margarita Vanoye Lizalde

In [3]:
x=1
print(x)
x = 5
y = 7
print(x)
print()
print(y)
print('El valor \n de x es', x , 'el valor de \'y\' es ', y , end='\n\n\n')

1
5

7
El valor
 de x es 5 el valor de 'y' es  7

In [7]:
x = 3
y = 4
print('El valor de x es', x , end='***')
print(y)

El valor de x es 3***4

In [9]:
#Especificar el texto que separa los argumentos
## usamos el parametro sep para identificar el separador de argumento
print('El valor de x es', x, sep='  => ')
print('El valor de \'y\' es', y)

El valor de x es  => 3
El valor de 'y' es 4

In [11]:
# espcificar separador de argumentos y terminador de linea.
print('El valor de x es', x, sep='  => ', end='\n\n\n')
print('El valor de \'y\' es', y)

El valor de x es  => 3


El valor de 'y' es 4

# literal 1 
## literal 2
### Literal 3
#### literal 4

# Tema de literales

In [3]:
#numeros con separadores de miles
#forzozamente debe usarse guion bajo
x=11_000_00
y=5
print(x*y)

5500000

In [2]:
#Valores octales
x=0o1234
print(x)

668

In [1]:
#valores hexadecimales
x=0x12345
print(x)

74565

In [4]:

z= .5
print(z)

0.5

In [6]:
vl = 30000000
vl2 = 3.1e8
print(vl , vl2)

30000000 310000000.0

In [7]:
#numeros no enteros
w = 0.08e3
print(w)

80.0

In [9]:
#cedenas con comillas simples y dobles
x = 'I"m a boy'
print(x)

I"m a boy

Valores booleanos

In [21]:
#Imprimir 50 veces
print("Hola " * 50)

Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola

# Clase 22/09/2020

In [5]:
#Exponenciacion 
print(2**3)

8

In [6]:
print(3*5.0)

15.0

In [7]:
#division decimal  
print(10/2)

5.0

In [8]:
#divion enterra
print (10//2)

5

In [9]:
#modulo residio de la division
print(9%2)

1

In [10]:
print(+2)

2

In [14]:
print(2**2**3)
print(2**3)
print(8**2)
print

256
8
64

In [17]:
true = 1
var = 3
print (var)

3

In [18]:
x = 5
x = x + 3
print(x)

8

In [19]:
x = 5
x = x ** 3
y **= 3
print(x)

125

In [5]:
x = 5
x **= 3
print(x)

125

# CLASE 23/09/2020

In [1]:
algo = input('Dime algo')
print('hmmm', algo,)

Dime algoHola
hmmm Hola

In [4]:
x = input('dame un numero para multiplicar')
y = input ('dame otro numero')
a = x * y
print(z)

dame un numero para multiplicar3
dame otro numero4

TypeError: can't multiply sequence by non-int of type 'str'

####

In [5]:
cateto_a = float(input('inserta lo langitud del cateto a'))
cateto_b = float(input('inserta lo langitud del cateto b'))
hipo = (cateto_a**2 + cateto_b**2) ** .5
print('La longitud de la hipotenusa es ', hipo)

inserta lo langitud del cateto a5
inserta lo langitud del cateto b4
La longitud de la hipotenusa es  6.4031242374328485

In [10]:
nom = input("¿Me puedes dar tu nombre porfavor?")
ape= input("¿Me puedes dar tu apellido porfavor?")
print("Gracias")
print("\nTu nombre es " + nom + " " + ape + ".")

¿Me puedes dar tu nombre porfavor?Fania
¿Me puedes dar tu apellido porfavor?Vanoye
Gracias

Tu nombre es Fania  Vanoye.

In [14]:
print(" " * 5)
print(2 ** 5)

32

In [3]:
a = 3000
b = 3000
if b > a:
    print("b es mayor que a")
    print("b vale =>", b)
elif a == b:
    print("a es igual que b")
    print("a y b vale =>", a)
else:
    print("a es mayor que b")
    print("a vale =>", a)
print("Fin del if")

a es igual que b
a y b vale => 3000
Fin del if

In [5]:
# if version corta
x = 50
y = 30
#pongo primero la condicion verdadera
#las condiciones
#pongo las condiciones falsa
print("y es menor que x") if x>y else print("x es mayor que y")

y es menor que x

In [10]:
i = 1
while i <= 1000:
    print(i)
    i += 1  #si no quiero que llegue hasta aqui el 9
    print("Hola")
    if i == 10:
        print("entro al if")
        break
        #pondria aqui mi i+= 1 para evaluar la función hasta aquí
print("fuera del while")

1
Hola
2
Hola
3
Hola
4
Hola
5
Hola
6
Hola
7
Hola
8
Hola
9
Hola
entro al if
fuera del while

In [3]:
#for solo de 0 a 5
for x in range (5):
    print(x)

0
1
2
3
4

In [4]:
#for de de 1 al 9 
for x in range (1, 10):
    print(x)

1
2
3
4
5
6
7
8
9

In [5]:
#for de 1 a 9 con incremento de 2 en 2
for x in range (1, 10, 2):
    print(x)

1
3
5
7
9

In [7]:
#Lista de valores
frutas = ["naranja", "platano", "sandia"]
numeros = [1, 5 ,3 ,8, 99]
for x in frutas:
    print(x)
    break
    if x == "platano":
        break

naranja

In [13]:
x = int(input("que tabla de multiplicar deseas"))
for i in range (1, 11):
    print(x ,"x",i ,"=", x*i)

que tabla de multiplicar deseas8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [2]:
5 = 5//3

SyntaxError: cannot assign to literal (<ipython-input-2-caed6a1928fb>, line 1)