# Unidad lll 

## Estructura de datos

### Fania Margarita Vanoye Lizalde

### Python

In [ ]:
# Funciones

In [3]:
def mi_funcion_hola():
    print("Hola mundo, desde mi función")

In [4]:
mi_funcion_hola()

Hola mundo, desde mi función

In [5]:
def tablas_multiplicar(x):
    for z in range(1, 11):
        print(x, "por", z ,"=", x * z )

In [7]:
tablas_multiplicar(2)

2 por 1 = 2
2 por 2 = 4
2 por 3 = 6
2 por 4 = 8
2 por 5 = 10
2 por 6 = 12
2 por 7 = 14
2 por 8 = 16
2 por 9 = 18
2 por 10 = 20

In [8]:
tablas_multiplicar(5410)

5410 por 1 = 5410
5410 por 2 = 10820
5410 por 3 = 16230
5410 por 4 = 21640
5410 por 5 = 27050
5410 por 6 = 32460
5410 por 7 = 37870
5410 por 8 = 43280
5410 por 9 = 48690
5410 por 10 = 54100

In [16]:
def calcular_Doble(qaz):
    qaz = qaz * 2
    return qaz

In [18]:
calcular_Doble(3)

6

In [ ]:
def presentar(primernombre, segundonombre, edad)

prensentar("Kent", "Clark", 23)

# Paso de parametros por palabra clave.

Los valores pasados a los parametros son procedidos por el nombre del parametro al que le va a pasar el valor,

In [1]:
def presentar(primerNombre, segundoNombre):
    print("Hola, mi nombre es", primerNombre, segundoNombre)

presentar("Luke", "Skywalker")
presentar("Jesse", "Quick")
presentar("Clark", "Kent")

Hola, mi nombre es Luke Skywalker
Hola, mi nombre es Jesse Quick
Hola, mi nombre es Clark Kent

In [2]:
def presentar(primerNombre, segundoNombre, edad):
    print("Hola, mi nombre es", primerNombre, segundoNombre, "y tengo", edad, "años")

presentar("Luke", "Skywalker", 23)
presentar("Jesse", "Quick", 25)
presentar("Clark", "Kent", 26)

Hola, mi nombre es Luke Skywalker y tengo 23 años
Hola, mi nombre es Jesse Quick y tengo 25 años
Hola, mi nombre es Clark Kent y tengo 26 años

In [1]:
miTupla = (1, 10, 100)

t1 = miTupla + (1000, 10000)
t2 = miTupla * 3

print(len(t2))
print(t1)
print(t2)
print(10 in miTupla)
print(-10 not in miTupla)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

# Alcance de las variables en funciones

In [3]:
def scopeTest():
    x = 123

scopeTest()
print(x)

NameError: name 'x' is not defined

In [4]:

def scopeTest():
    x = 123
    print(x)
scopeTest()

123

In [5]:

# El alcance de la variable fuera de una función tiene un alcance global
def miFuncion():
    print("¿Conozco a la variable?", var)

var = 1
miFuncion()
print(var)

¿Conozco a la variable? 1
1

In [6]:
def miFuncion():
    global var
    var = 2
    print("¿Conozco a aquella variable?", var)

var = 1
miFuncion()
print(var)

¿Conozco a aquella variable? 2
2

In [7]:
# la invertida significa que el codigo continua en la sig. linea
def imc(peso, altura):
    if altura < 1.0 or altura > 2.5 or \
    peso < 20 or peso > 200:
        return None
    
    return peso / altura ** 2

print(imc(75, 1.78))

23.671253629592222

# Diccionario

In [8]:
# Las similitudes pueden ser engañosas - no intentes modificar en contenido de la tupla ¡No es una lista!
miTupla = (1, 10, 100, 1000)

print(miTupla[0])
print(miTupla[-1])
print(miTupla[1:])
print(miTupla[:-2])

for elem in miTupla:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

In [7]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}
numerosTelefono = {'jefe' : 5551234567, 'Suzy' : 22657854310}
diccionarioVacio = {}
Permisoestudiantes = {"Captura de calificaciones" : "False" , "kardex" : "True"}

print(dict)
print(numerosTelefono)
print(diccionarioVacio)

{'gato': 'chat', 'perro': 'chien', 'caballo': 'cheval'}
{'jefe': 5551234567, 'Suzy': 22657854310}
{}

In [5]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}
numerosTelefono = {'jefe' : 5551234567, 'Suzy' : 22657854310}
diccionarioVacio = {}

print(dict['gato'])

chat

In [8]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}
words = ['gato', 'leon', 'caballo']

for word in words:
    if word in dict:
        print(word, "->", dict[word])
    else:
        print(word, "no está en el diccionario")

gato -> chat
leon no está en el diccionario
caballo -> cheval

In [11]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}

for key in dict.keys():
    print(key, "->", dict[key])

gato -> chat
perro -> chien
caballo -> cheval

In [20]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}

for key in sorted(dict.keys()):
    print(key, "->", dict[key], )

Apellido -> Vanoye
Edad -> 20
Nombre -> Fania

In [9]:
iTupla = (1, 10, 100)

t1 = miTupla + (1000, 10000)
t2 = miTupla * 3

print(len(t2))
print(t1)
print(t2)
print(10 in miTupla)
print(-10 not in miTupla)

12
(1, 10, 100, 1000, 1000, 10000)
(1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000)
True
True